*{
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}


/* color: #0D1321 */

/* Font Link */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

header{
    width: 100%;
    /* position: relative; */
    background-color: rgba(255, 255, 255, 0.568);
    margin: 0 auto;
    position: sticky;
    top: 0px;
    /* padding: 10px 0; */
    /* background-color: black; */
 


}
nav{
    padding: 10px 20px;
    /* background-color: aquamarine; */
    margin: 0 auto;
    position:relative;
    width: 90vw;
    
 
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    
}

.logo{
    text-decoration: none;
    font-size: 42px;
    font-weight: 800;
    color: #0D1321;
}

/* Button Primary */

.btn-primary{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #0D1321 ;
    padding: 18px 24px;
    background-color: white;
    border: 2px solid #0D1321;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #0D1321;
    color: white;
    border: 2px solid white;
    transition: all 0.2s linear;
}

/* Banner */
.banner{
    /* background-color: blue; */
    height: 100vh ;
    width: 100%;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0  auto;
    display: flex;
    justify-content: center;
    text-align: center;
    /* position: relative; */
    padding: 40px 0;
}

.banner-flex{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
    /* margin: 0 10% ; */
    width: 80vw;
    /* position: absolute; */
}
.boy-logo{
    flex-grow: 1;
    max-height: 400px;
    width: 300px;
    margin:0  auto ;
    /* padding: 100px 0 0; */
    /* background-color: aqua; */
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329); */
}

.banner-headline{
    color: #0D1321;
    font-weight:800 ;
    font-size: 48px;
    margin: 0 0 30px ;

}
.all-p{
    color: #0d1321cc;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.contact-btn{
    font-size: 20px;
    font-weight: 800;
    padding: 25px 50px;
    background-color: #0D1321;
    color: white;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-decoration: none;
    margin: 30px auto;
    
    
}
.contact-btn:hover{
    background-color: white;
    color: #0D1321;
    cursor: pointer;
    border: 2px solid #0D1321;
    transition: all 0.2s linear;
}

/* why web development */

.why{
    margin: 70px auto 30px;
    width: 90%;
    /* height: 100%; */
    background-color: rgba(13, 19, 33, 0.034);
    padding: 40px auto;
}

.first{
    text-align: center;
    margin: 40px auto 70px;
    /* padding: 0 50px; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80vw;
}
.first h1{
    font-size: 32px;
    font-weight: 800;
}
.second{
    text-align: left;
    margin: 10px auto ;
    /* padding: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background-color:rgba(255, 255, 255, 0.555);
    border-radius: 15px;
    width: 80vw;
}
.second img{
    width: 400px;
    /* background-color: aqua; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
}
.second button{
    
    /* background-color: aqua; */
    margin: 30px auto;
    padding: 20px 30px;
    font-size: 20px;
}
.second-details{
    width: 50%;
}

.all-title{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.712);
    margin: 20px auto;
}

.all-title1{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    margin: 20px auto;
}

/* My Inspiration */
.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width:100%;
    /* height: 100vh; */
    /* background-color: blue; */
    padding-top: 40px;

}
.video
{
    width: 90vw;
    /* margin: 20px; */
    border: 1px solid rgb(182, 180, 180);
    border-radius:10px ;
    padding: 20px;
    margin-bottom: 50px;
}
iframe{
    border-radius: 15px;

}


/* My Current Target */
.current-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 90vw;
    height: 100%;
    /* background-color: blue; */
    padding-top: 40px;
    /* background-color: blue; */
}

.lang{
    width: 80vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    text-align: left;
    margin: 50px auto 50px;
    gap: 30px;
    /* background-color: blue; */
}

.lang-box{
    border-radius: 15px;
    padding: 30px;
    /* background-color: aqua; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
}
.bg-colour1{
   background-color: rgba(255, 76, 30, 0.05); 
}

.bg-colour2{
   background-color:rgba(0, 76, 232, 0.05); 
}

.bg-colour3{
   background-color: rgba(255, 223, 0, 0.05); 
}

.btn-target{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #0D1321 ;
    /* padding: 18px 24px; */
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
.btn-target:hover{
    text-decoration: underline;
    background-color: #203b7a41;
    color: #0D1321;
    transition: all 0.2s linear;
}


/* My Next Target */

.next-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 90vw;
    height: 100%;
    /* background-color: blue; */
    padding-top: 40px;
    /* background-color: blue; */
}
.next-target .lang-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* text-align: center; */
    gap: 30px;
    margin: 20px auto;
    border-radius: 5px;
}
.next-target img{
    width: 100px;
    height: 100px;
}

/* Contact */

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    width: 80vw;
    height: 300px;
    gap: 20px;
    /* background-color: aqua; */
    padding: 50px;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.19931722689075626) 100%),url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
#contact .all-title{
    margin:0;
    color: white ;
    font-size: 32px;
    font-weight: 800;
}
#contact .all-p{
    margin:10px auto;
    color: white ;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
}

.form{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form input[type="text"]
{
    font-size:18px ;
    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: auto 10px ;
}
.form .btn-primary{
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    /* color: #0D1321; */
}


/* Footer */
footer{
    background-color: rgba(13, 19, 33, 0.096);
    width:100%;
    /* padding: 20px 0; */

}
.footer{
    width:80vw;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}
.footer h1{
    font-size: 20px;
    font-weight: 600;
}
.footer a{
    text-decoration: none;
    padding: 0 10px ;
}


/* Responsive */

.hide{
    display: none;
}

@media screen and (max-width:576px) {
    header{
        width: 100vw;
        margin: 10px auto 20px;
        position: static;
    }

    nav{
        padding: 0;
        position: relative;
    }
    .container-flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }


    /* BAnner */
    .banner{
        height: 100vh;
        width: 100vw;
        /* background-color: aqua; */
        padding: 20px auto;
        
    }

    .banner-flex{
        /* background-color: aquamarine; */
        /* margin: auto 5%; */
        height: 100vh;
        width: 90vw;
    }

    /* .banner img{
        flex-grow: 1;
    } */
    .boy-logo{
        flex-grow: 1;
    }
    .banner-headline{
        font-size: 1.5em;
        margin: 10px auto 20px;
    }
    .all-p{
        font-size: .9em;
        line-height: 20px;
    }

    .contact-btn{
        font-size: 16px;
        padding: auto 50px;
        margin: 10px auto ;
    }

    /* banner end  */
    .first{
        /* width: 100vw; */
        margin: 20px auto;
        justify-content: center;
        text-align: center;
        gap: 20px;

    }
    .first h1{
        font-size: 2em;
    }
    /* why start  */

    .second:nth-child(2n){
        flex-direction: column-reverse;
        width: 90vw;
        justify-content: center;
        margin: 30px auto 20px;  
    }
    .second{
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        margin: 30px auto 0;
    }

    .second img{
        width: 90%;
        /* flex-grow: 1; */
    }

    .second-details{
        width: 80vw;
        margin: 0 auto;
    }

    .all-title{
        font-size: 1.8em;
        margin: 10px auto;
    }

    .second button{
        margin: 20px auto;
        padding: auto 30px;
        font-size: 1em;
    }

    /* why end  */

    /* Inspiration start */
    .inspiration{
        /* padding: 10px; */
        width: 80vw;
        margin: 0 auto;
    }
     .video
    {
        width: 80vw;

    }

/* current target start */

.current-target{

    margin: 20px auto;
    width: 100vw;
}
.lang{
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
}

/* Next Target */

.next-target{
    flex-direction: column;
}
.next-target .lang-box{
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

/* contact */
.form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form input[type="text"]
{
    font-size:18px ;
    width: 70vw;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 20px 10px 0;
}
.form .btn-primary{
    width: 30%;
    /* padding: 20px 30px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* color: #0D1321; */
}

/* Footer */

.footer{
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.footer h1{
    font-size: 18px;
    margin: 10px 0 0 0;
}
.footer img{
    flex-grow: 1;
    
}
.footer .social{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}







}

@media screen and (min-width:577px) and (max-width: 858px) {
    
    header{
        position: sticky;
        margin: auto;
    }
    .container-flex{
        align-items: center;
        justify-content: space-between;
    }


        /* BAnner */
        .banner{
            height: 100vh;
            width: 100vw;
            /* background-color: aqua; */
        }
    
        .banner-flex{
            /* background-color: aquamarine; */
            margin: auto 5% ;
            height: 100%;
            width: 90vw;
        }
    
        /* .banner img{
            flex-grow: 1;
        } */
        .boy-logo{
            flex-grow: 1;
        }
        .banner-headline{
            font-size: 2.5em;
            margin: 10px auto 20px;
        }
        .all-p{
            font-size: 1em;
            line-height: 20px;
        }
    
        .contact-btn{
            font-size: 18px;
            padding: auto 50px;
            margin: 20px auto ;
        }

        /* Banner End */


        /* Why start  */


        .second:nth-child(2n){
            flex-direction: column-reverse;
            width: 90vw;
            justify-content: center;
            margin: 30px auto 0;  
        }
        .second{
            flex-direction: column;
            width: 90vw;
            justify-content: center;
            margin: 30px auto 0;
        }
        .second-details{
            width: 80vw;
            margin: 1em auto 0;
        }
    
        .all-title{
            font-size: 1.8em;
            margin: 0 auto 1em;
        }
        .second button{
            margin: 20px auto;
            padding: auto 30px;
            font-size: 1em;
        }


        
/* next target start */

.current-target{

    margin: 20px auto;
    width: 100vw;
}
.lang{
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
}
}
















